
.blog_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog{
    margin:5px;
    padding: 5px 10px;
    width: auto;
    max-width:70%;
    text-align: center;
    box-shadow : 0 0 5px 1px rgba(22,8,43,.1);;
}

@media screen and (max-width: 500px) {
    .blog{
        max-width:90%;
    }
}

.blog_content{
    max-height: 150px;
    margin: 15px auto;
    overflow: hidden;
}