<!DOCTYPE html>

{% extends 'tasks/base.html' %}

{% block block_title %}
    SIGN UP
{% endblock block_title %}

{% block body_block %}
	<div class="center-column">
		<form action="/signup/" method="post">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            
            {% for field in  form.visible_fields %}
                <h4 class='pt-2'>{{field.label}}</h4>
                {{field.help_text}}
                {{field}}
            {% endfor %}   
            <hr>
            <input type="submit" value="Create Account">
        </form>
        <hr>
        <p>Already have an account? <a href="{% url 'login'%}">Login Here</a></p>
	</div>
{% endblock body_block %}


