<!DOCTYPE html>
{% extends 'quizapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css_block %}
<style>
    .form_container{
        width : 430px;
        margin:50px auto;
        box-shadow : 0 0 5px 1px rgba(22,8,43,.1);
        border-radius :5px;
        padding:20px;
    }
    @media screen and (max-width:450px){
        .form_container{
            width :300px;
        }
    }
    .submit{
        margin:5px  auto;
    }
</style>
{% endblock css_block %}

{% block subject_list %}
    <div class="nav_items">
        <h3 class="nav_title">Enrolled in</h3>
        {% for sub in subjects %}
            <a href="{% url 'subject' sub.slug %}" class="nav_link">
                <span class="nav_icon" style="background:{{sub.color}};color:white;padding:0 5px;">
                {{ sub.name|slice:"1" }}
                </span>
                <span class="nav_name">{{sub.name}}</span>
            </a>
            {% comment %} <br> {% endcomment %}
        {% endfor %}

    </div>
{% endblock subject_list %}

{% block body_block %}
    <div class="form_container">
    
        {% block form_block %}
            <div class="heading">
                <h3>Add a new subject</h3>
            </div>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Add" class="submit">
            </form>
            <hr>
        {% endblock form_block %}
        {% if user.is_teacher %}
        <a href="{%url 'create_subject'%}" class="btn btn-outline-primary">Or create a new Subject</a>
        {% endif %}
        
    </div>
    

{% endblock body_block %}
